<div>
  <h2>filter results</h2>
</div>

<div class="accordion">

  <div class="accordion-section">
    <a class="accordion-section-title fade-background" href="#accordion-1">Price</a>
    <div id="accordion-1" class="accordion-section-content">
      <div data-role="rangeslider">
        <!--<label for="price-min">Price:</label>-->
        <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
        <!--<label for="price-max">Price:</label>-->
        <input type="range" name="price-max" id="price-max" value="800" min="0" max="1000">
      </div>
    </div>
  </div>

  <div class="accordion-section">
    <a class="accordion-section-title fade-background" href="#accordion-2">Size</a>
    <div id="accordion-2" class="accordion-section-content">
      <div id="checklist">
          <input type="checkbox">Small
      </div>
    </div>
  </div>

  <div class="accordion-section">
    <a class="accordion-section-title fade-background" href="#accordion-3">Color</a>
    <div id="accordion-3" class="accordion-section-content">
      <div>

      </div>
    </div>
  </div>

</div>


