.product-grid-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-evenly;
  width: 75%;
}
.flex-container {
  display: flex;
}
.product-listing-page-container {
  display: flex;
}
.filters {
  width: 25%;
  margin-left: 1em;
}
.plp-headroom {
  height: 60px;
  width: 100%;
}
