<div class=header-container>
  <div class=left-nav>
    <img class=menu-icon src='../../assets/karlsburg/menuicon.png'/>
    <!--img class=logo src='../../assets/karlsburg/karlsburg_250px.png'/-->
  </div>
  <div class="search">
      <form class="searchInputForm" method="get" action="/s">
        <input type="" id="search" name="searchTerm" autocorrect="off" autocapitalize="off" autocomplete="off" value="" placeholder="  Search" aria-label="Search: suggestions appear below">
      </form>
  </div>
  <div class=right-nav></div>
</div>
